[user]
  name = Ionut Colceriu
  email = contact@ghinda.net
[core]
  autocrlf = false
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
  excludesfile = ~/.gitignore_global
  editor = vim
[apply]
  whitespace = nowarn
[branch "master"]
  remote = origin
  merge = refs/heads/master
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[merge]
	ff = no
